Settings:
  x-acl:
    platformAdmin: [read-any, update-any]
    teamAdmin: [read]
    teamMember: [read]
  additionalProperties: false
  properties:
    alerts:
      additionalProperties: false
      $ref: 'definitions.yaml#/alerts'
      title: Alerts
      description: Configure alerting endpoints to receive notifications from Alertmanager.
      x-externalDocsPath: alert-settings
    cluster:
      additionalProperties: false
      $ref: 'cluster.yaml#/Cluster'
      title: Cluster
      x-externalDocsPath: cluster-settings
    platformBackups:
      additionalProperties: false
      type: object
      properties:
        gitea:
          title: Gitea
          description: Enable application-level backup of Gitea repositories.
          properties:
            enabled:
              type: boolean
              default: false
            retentionPolicy:
              $ref: 'definitions.yaml#/backupRetentionPolicy'
            schedule:
              $ref: 'definitions.yaml#/backupSchedule'
        database:
          type: object
          title: Database backups
          properties:
            harbor:
              title: Harbor
              properties:
                enabled:
                  type: boolean
                  default: false
                retentionPolicy:
                  $ref: 'definitions.yaml#/backupRetentionPolicy'
                schedule:
                  $ref: 'definitions.yaml#/backupSchedule'
            gitea:
              title: Gitea
              properties:
                enabled:
                  type: boolean
                  default: false
                retentionPolicy:
                  $ref: 'definitions.yaml#/backupRetentionPolicy'
                schedule:
                  $ref: 'definitions.yaml#/backupSchedule'
            keycloak:
              title: Keycloak
              properties:
                enabled:
                  type: boolean
                  default: false
                retentionPolicy:
                  $ref: 'definitions.yaml#/backupRetentionPolicy'
                schedule:
                  $ref: 'definitions.yaml#/backupSchedule'
    obj:
      x-externalDocsPath: object-storage-settings
      type: object
      properties:
        showWizard:
          type: boolean
          default: true
          description: Show the Object Storage wizard.
        provider:
          type: object
          title: Object Storage provider
          description: Select the preferred Object Storage provider.
          oneOf:
            - title: Disabled
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - disabled
                  default: disabled
            - title: minioLocal
              type: object
              x-hideTitle: true
              description: Select to use the self-hosted Minio instance. Make sure to activate Minio first.
              properties:
                type:
                  type: string
                  enum:
                    - minioLocal
                  default: minioLocal
            - title: Linode
              type: object
              x-hideTitle: true
              properties:
                linode:
                  type: object
                  title: Linode
                  description: Select to use Linode Object Storage.
                  properties:
                    region:
                      type: string
                      description: The name of the Linode region.
                      $ref: 'definitions.yaml#/wordCharacterPattern'
                    accessKeyId:
                      type: string
                      description: The ID of the access key.
                      $ref: 'definitions.yaml#/wordCharacterPattern'
                    secretAccessKey:
                      type: string
                      description: The Secret of the access key.
                      $ref: 'definitions.yaml#/wordCharacterPattern'
                      x-secret: true
                    buckets:
                      description: Add the preferred bucket names for each app.
                      properties:
                        loki:
                          type: string
                          $ref: 'definitions.yaml#/wordCharacterPattern'
                          default: loki
                        cnpg:
                          type: string
                          $ref: 'definitions.yaml#/wordCharacterPattern'
                          default: cnpg
                        harbor:
                          type: string
                          $ref: 'definitions.yaml#/wordCharacterPattern'
                          default: harbor
                        tempo:
                          type: string
                          $ref: 'definitions.yaml#/wordCharacterPattern'
                          default: tempo
                        gitea:
                          type: string
                          $ref: 'definitions.yaml#/wordCharacterPattern'
                          default: gitea
                        thanos:
                          type: string
                          $ref: 'definitions.yaml#/wordCharacterPattern'
                          default: thanos
                        kubeflow-pipelines:
                          type: string
                          $ref: 'definitions.yaml#/wordCharacterPattern'
                          default: kubeflow-pipelines
                  required:
                    - region
                    - accessKeyId
                    - secretAccessKey
                type:
                  type: string
                  enum:
                    - linode
                  default: linode
              required:
                - linode
                - type
    dns:
      $ref: 'definitions.yaml#/dns'
      x-externalDocsPath: dns
      x-acl:
        platformAdmin: [read-any, update-any]
        teamAdmin: []
        teamMember: []
    ingress:
      type: object
      properties:
        platformClass:
          allOf:
            - type: object
              properties:
                className:
                  title: Class name
                  description: The platform ingress class is used for all platform services.
                  type: string
                  default: platform
                  # readOnly: true
            - $ref: 'definitions.yaml#/ingressClassParameters'
        classes:
          title: Additional classes
          type: array
          items:
            allOf:
              - type: object
                properties:
                  className:
                    description: An arbitrary name that will be used to assign an ingress class to a team service.
                    type: string
              - $ref: 'definitions.yaml#/ingressClassParameters'
            required:
              - className
    kms:
      $ref: 'definitions.yaml#/kms'
      x-externalDocsPath: sops
      x-acl:
        platformAdmin: [read-any, update-any]
        teamAdmin: []
        teamMember: []
    oidc:
      title: OIDC
      additionalProperties: false
      properties:
        issuer:
          type: string
          $ref: 'definitions.yaml#/url'
        clientID:
          title: Client ID
          type: string
        clientSecret:
          title: Client Secret
          type: string
          x-secret: true
        platformAdminGroupID:
          title: Platform admin group ID.
          type: string
        allTeamsAdminGroupID:
          title: All teams admin group ID.
          type: string
        teamAdminGroupID:
          title: Team admin group ID.
          type: string
        usernameClaimMapper:
          description: Claim name used by Keycloak to identify incoming users from the identity provider.
          default: '${CLAIM.upn}'
          type: string
        subClaimMapper:
          type: string
          description: Set OIDC claim to be passed by Keycloak as a unique user identifier. It is advised to not change the default.
          default: sub
      type: object
      x-externalDocsPath: oidc-settings
      x-acl:
        platformAdmin: [read-any, update-any]
        teamAdmin: []
        teamMember: []
      required:
        - issuer
        - clientID
        - clientSecret
    otomi:
      title: Platform
      type: object
      additionalProperties: false
      properties:
        adminPassword:
          description: Master admin password that will be used for all apps that are not configured to use their own password.
          $ref: 'definitions.yaml#/adminPassword'
          x-acl:
            platformAdmin: [read-any]
            teamAdmin: []
            teamMember: []
          # readOnly: true
        isPreInstalled:
          type: boolean
          default: false
          description: Defines if platform is installed through Akamai Connected Cloud.
          x-acl:
            platformAdmin: [read-any, update-any]
            teamAdmin: []
            teamMember: []
        aiEnabled:
          type: boolean
          default: false
          description: Defines if APL enables AI/ML components
          x-acl:
            platformAdmin: [read-any, update-any]
            teamAdmin: []
            teamMember: []
        globalPullSecret:
          nullable: true
          title: Global pullsecret
          description: Will be connected to each "default" service account in all Team namespaces to avoid rate limiting.
          additionalProperties: false
          properties:
            username:
              type: string
              x-acl:
                platformAdmin: [read-any, update-any]
                teamAdmin: []
                teamMember: []
            password:
              type: string
              x-secret: true
              x-acl:
                platformAdmin: [read-any, update-any]
                teamAdmin: []
                teamMember: []
            email:
              type: string
              x-acl:
                platformAdmin: [read-any, update-any]
                teamAdmin: []
                teamMember: []
              x-default: not@us.ed
            server:
              type: string
              x-default: docker.io
          # disabling required fields until rjsf solves this nested required bug:
          # required:
          #   - username
          #   - password
          type: object
          x-acl:
            platformAdmin: [read-any, update-any]
            teamAdmin: []
            teamMember: []
        hasExternalDNS:
          description: Set this to true when an external DNS zone is available to manage DNS records (Expects required DNS fields to be set).
          title: External DNS
          type: boolean
          default: false
        hasExternalIDP:
          description: Set this to true when bringing your own external IDP such as Azure Entra ID (Expects required OIDC fields to be set).
          title: External IDP
          type: boolean
          default: false
        isMultitenant:
          description: Will separate team metrics and logs. Disabling this effectively gives all users admin role and lets them see everything.
          title: Multi-tenancy
          type: boolean
          default: true
        nodeSelector:
          $ref: 'definitions.yaml#/labels'
          description: 'One or more label/value pairs of one or more nodes. This will enforce scheduling of all platform services on these nodes.'
        #TODO move this one out of otomi and in to versions
        version:
          title: Version
          default: latest
          description: |
            Set the version to a valid release found in the linode/apl-core Github repository.
          type: string
        useORCS:
          type: boolean
          description: Defines if the OCI Registry Cache Service (ORCS) is used to cache images from the public registry.
      required:
        - version
      x-externalDocsPath: general-platform-settings
      x-acl:
        platformAdmin: [read-any, update-any]
        teamAdmin: [read]
        teamMember: [read]
    versions:
      title: Platform
      type: object
      additionalProperties: false
      properties:
        version:
          title: Version
          default: latest
          description: |
            Set the version to a valid release found in the linode/apl-core Github repository.
          type: string
      required:
        - version
      x-externalDocsPath: general-platform-settings
      x-acl:
        platformAdmin: [read-any, update-any]
        teamAdmin: [read]
        teamMember: [read]
    smtp:
      title: SMTP
      additionalProperties: false
      nullable: true
      properties:
        auth_identity:
          title: Authentication identity
          type: string
        auth_password:
          title: Authentication password
          type: string
        auth_secret:
          title: Authentication secret
          type: string
        auth_username:
          title: Authentication username
          type: string
        from:
          $ref: 'definitions.yaml#/email'
          description: The from address. Defaults to alerts@$clusterDomain.
          title: From address
        hello:
          description: The hostname to identify to the SMTP server.
          title: Hello
          type: string
        smarthost:
          description: The smtp host:port combination.
          pattern: ^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9]):()([1-9]|[1-5]?[0-9]{2,4}|6[1-4][0-9]{3}|65[1-4][0-9]{2}|655[1-2][0-9]|6553[1-5])$
          type: string
          title: Smart Host
      required:
        - smarthost
      type: object
      x-acl:
        platformAdmin: [read-any, update-any]
        teamAdmin: []
        teamMember: []
  type: object
